### Example wolfMP.config with Default Values
### Uncomment lines to enable

### GitHub and map repository
#$RepoOwner = "rtcwmp-com"
#$RepoName = "rtcwPro"
#$ReleaseApiUrl = "https://api.github.com/repos/$repoOwner/$repoName/releases/latest"
#$GitHubPk3Url = "https://raw.githubusercontent.com/Oksii/autoexec_timer/main/README.md"
#$Pk3DownloadUrlBase = "http://rtcw.life/files/mapdb/"

### rtcw Configuration
$rtcwArgs = "+set fs_game rtcwpro +exec autoexec.cfg +set cl_allowdownload 1 +connect nl.rtcw.eu"

### OBS Configuration
$obsPath = "C:\Program Files\obs-studio\bin\64bit\obs64.exe"
$obsWorkingDirectory = "C:\Program Files\obs-studio\bin\64bit\"
$obsArgs = '--profile "shadowplay" --minimize-to-tray --startreplaybuffer --disable-shutdown-check'
$processCheckDuration = 30

### Format for the backup date
#$BackupDateFormat = "yyyy-MM-dd"

### Subdirectories
#$RtcwproSubPath = "rtcwpro"
#$MainSubPath = "Main"

### Additional process
#$AdditionalProcess = "" # Name of the process.exe
#$AdditionalProcessPath = "" # Path to the Folder it resides in
#$AdditionalProcessArgs = "" # RInput expects a process name to hook into. "RInput.exe wolfMP_130.exe" 
#$AdditionalProcessDelay = 3 # Delay in seconds to start after RTCW Launched 

### Example RInput
#$AdditionalProcess = "RInput.exe" 
#$AdditionalProcessPath = "D:\Games\RtCWPro\" 
#$AdditionalProcessArgs = "wolfMP_131.exe" 
#$AdditionalProcessDelay = 3 
