### Example wolfMP.config with Default Values
### Uncomment lines to enable

### GitHub and map repository
#$RepoOwner=rtcwmp-com
#$RepoName=rtcwPro
#$ReleaseApiUrl=https://api.github.com/repos/rtcwmp-com/rtcwPro/releases/latest
#$GitHubPk3Url=https://raw.githubusercontent.com/Oksii/autoexec_timer/main/README.md
#$Pk3DownloadUrlBase=http://rtcw.life/files/mapdb/

### Additional command-line arguments for rtcw executable
#$RtcwArgs=+set fs_game rtcwpro +exec autoexec.cfg +connect nl.rtcw.eu 

### Format for the backup date
#$BackupDateFormat=yyyy-MM-dd

### Subdirectories
#$RtcwproSubPath=rtcwpro
#$MainSubPath=Main

### Additional process
#$AdditionalProcess="" # Name of the process.exe
#$AdditionalProcessPath="" # Path to the Folder it resides in
#$AdditionalProcessArgs="" # RInput expects a process name to hook into. "RInput.exe wolfMP_130.exe" 
#$AdditionalProcessDelay=3 # Delay in seconds to start after RTCW Launched 

### Example RInput
#$AdditionalProcess="RInput.exe" 
#$AdditionalProcessPath="D:\Games\RTCW\" 
#$AdditionalProcessArgs="wolfMP_130.exe" 
#$AdditionalProcessDelay=3 

### Example OBS 
#$AdditionalProcess="obs64.exe"
#$AdditionalProcessPath="C:\Program Files\obs-studio\bin\64bit\"
#$AdditionalProcessArgs="--minimize-to-tray --startreplaybuffer"
